@nav-bar-title-text-color:#666;
@nav-bar-text-color: #666;
@nav-bar-icon-color: #666;
@grid-item-content-padding: 0;  // 宫格的padding
@grid-item-content-background-color: transparent; // 宫格的颜色
@grid-item-content-active-color: transparent; // 激活颜色